<h1><%= categoria ? 'Editar' : 'Nueva' %> categoría</h1>
<form action="<%= categoria ? '/categorias/' + categoria.id + '/editar' : '/categorias/nuevo' %>" method="POST" class="col-md-4">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" name="nombre" class="form-control" value="<%= categoria ? categoria.nombre : '' %>">
  </div>
  <% if (errors.length) { %>
    <div class="alert alert-danger"><ul class="mb-0"><% errors.forEach(e => { %><li><%= e.msg %></li><% }) %></ul></div>
  <% } %>
  <button class="btn btn-primary">Guardar</button>
</form>
